<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
<loop name="cbatos.check.rights" class="Cbatos\Loop\CheckRightsLoop" />
 
    </loops>

    <forms>
<form name="cbatos.configure" class="Cbatos\Form\ConfigureCbatos"/>
 
    </forms>

    <commands>
 
    </commands>

<services>


 <service id="send.cbatos.mail" class="Cbatos\Listener\SendConfirmationEmail" scope="request">
            <argument type="service" id="thelia.parser" />
            <argument type="service" id="mailer"/>
            <tag name="kernel.event_subscriber"/>
        </service>
		
		
        
    </services>
</config>
